@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* breadcumb */
.li-1 {
  text-decoration: none;
  color: #444444;
}
.li-2 {
  color: #444444;
}
.underline {
  text-decoration: underline;
}

.main-div {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #7adfff;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 100%;
}
.div-1 {
  background: #fff;
  width: 100%;
  max-width: 30rem;
  height: 100%;
}
.Register {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  margin: 30px;
}
.Register > input {
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.Register > input::placeholder {
  color: #000;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}
.Path-flex {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
.Path-flex > a > h3 {
  text-transform: uppercase;
}
.Register > #Register {
  width: 50%;
  background-color: #7adfff;
  margin: auto;
}
.LinkToSignIn > a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}
.error {
  color: red;
}
