@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
*{
    
    align-content: center;
    max-width: 100%;
}

#iscart{
  margin-left: 100px;
  margin-bottom: -30px;
}


#cart-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

#total{
  width: 400px;
  height: 450px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 25px;
  margin: 25px;
  line-height: 29px;
}

.blue-btn{
  background: #2CCCFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  align-items: center;
  color: #FFFFFF;
  font-weight: bold;
  width:  170px;
  height: 41px;
  left: 1003px;
  top: 841px;
  margin-left: 65px;
}
#blue1{
  width: 250px;
  height: 41px;
  left: 1003px;
  top: 841px; 
  background: #2CCCFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  
}
#blue2{
  margin-left: -70px;
}

.white-btn{
  width: 200px;
  height: 41px;
  /* left: 102px; */
  top: 1024px;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  font-weight: bold;
  margin-left: -80px;
}
.ash-btn{
  width: 150px;
  height: 41px;
  left: 622px;
  top: 1024px;
  align-items: center;
  color: #FFFFFF;
  background: #95B3BC;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-weight: bold;
  margin-left: -20px;
}

#btn{
  display: flex;
  justify-content: space-evenly;

}
#tab-div{
  width: 737px;
}
table {
  width: 90%;
}

th {
  height: 70px;
  padding: 15px;
  border-bottom: 2px solid black;
}
td {
  text-align: center;
  height: 50px;
  padding: 10px;
  
  
}

.qty-btn{
  width: 70px;
  border-radius: 20px;
  background-color: white;
}
.rollingNum:focus{
  outline:0;
}

.tab-btn{
  width: 115px;
  height: 29px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 24px;
}

input{
  width: 70px; 
  border: none; 
  text-align: center;
}

/* copy from here for the navbar */
header {
  min-height: 10vh;
  background-color: #29CBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


nav.navigation-contents {
  width: 95%;
  min-height: 5vh;
  display: flex;
}

.navbar-brand-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

div.navigation-item-container{
  width: 90%;
}
div.navigation-image-container > img{
 margin-top: 20px;
}

.navigation-item-container1 {
  display: none;
  margin: 5px;
}

.navigation-category-content {
  flex: 2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 22px 0px 15px 0px;
  list-style: none;
}

.nav-links-item > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 900;
  font-family: "Josefin Sans", sans-serif;
}

.icon-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 22px 0px 15px 0px;
  color: white;
}

.icon-links a, .icon-links a:hover{
  color: white;
}
.loginBtn{
  padding: 7px 10px;
  font-size: 13px;
  margin-top: 0;
  font-weight: 500;
  border-radius: 7px;
  border: 2px solid white;
  color: #444444;
  background-color: white;
  box-shadow: #444444;
}
#wish{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: #ffffff;
  position: absolute;
  top: 11px;
  right: 443px;
  font-size: 12px;
  text-align: center;
}
#cart{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: #ffffff;
  position: absolute;
  top: 11px;
  right: 347px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.navigation-icons {
  flex: 2;
}

.search-box{
  background: #29CBFF;
  position: absolute;
  top: 70px;
  right: 20%;
  width: 279px;
  height: 53px;
  line-height: 37px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top:4px solid #29CBFF;
  display: none;
}

.search-box:before{
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #29CBFF;
}

.search-box input[type="text"]{
  width: 200px;
  padding: 6px 10px 0px 10px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #29CBFF;
  outline: none;
}

.search-box input[type="button"]{
  width: 70px;
  padding: 6px 0px;
  background: #29CBFF;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #29CBFF;
  outline: none;
  cursor: pointer;
}
/* stop here and scroll to the bottom */

/* breadcumb */
/* .navigation{margin-top: 10px; margin-left: 10px;} */
.li-1{text-decoration: none; color: #444444;}
.li-2{color: #444444;}
.underline{text-decoration: underline 2px solid #29CBFF;}


/* copy from here */
footer {
  background-color: #0a1c22;
  width: 100%;
  margin-top: 40px;
}

.footer-contents {
  width: 95%;
  min-height: calc(30vh - 12.8px);
  margin: 0 auto;
  display: flex;
  color: whitesmoke;
}

.contact-us-container {
  flex: 1;
}

footer-title {
  font-family: "Josefin Sans", sans-serif;
}

p.footer-description {
  font-size: 15px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

ul.footer-links {
  list-style: none;
  padding-left: 0px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

li.footer-links-item > a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
}

.fa-home {
  font-size: 24px;
}

#envelope {
  color: whitesmoke;
  margin-right: 8px;
  font-size: 18px;
}

.fa-phone {
  color: whitesmoke;
  margin-right: 8px;
  font-size: 24px;
}
.subscribe-container {
  flex: 1;
}

.social-media-container {
  flex: 1;
}

#facebook {
  color: #0a1c22;
  background-color: whitesmoke;
  padding: 8px;
  width: 42px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

#twitter {
  color: #0a1c22;
  background-color: whitesmoke;
  padding: 8px;
  width: 42px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

#instagram {
  color: #0a1c22;
  background-color: whitesmoke;
  padding: 8px;
  width: 42px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.useful-links-container {
  flex: 1;
}

p.footer-description1 {
  font-size: 15px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}
.Submit-Mail{
  border: none;
}

.fa-envelope {
  color: #0a1c22;
}
.copy{
  margin-top: 18px;
  color: #ffffff;
}






