.productContainer {
  height: 80vh;
  width: 95%;
  margin: 0 auto;
}

label {
  font-size: 1.1rem;
}

.laptopCheckboxContainer {
  margin-top: 70px;
}

/* .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #2cccff;
  border-radius: 12px;
} */

.navLink {
  font-size: 1.2rem;
}

.nav-pills .nav-link.active {
  background-color: #89becf;
  border-radius: 12px;
}
.accessoriesCheckboxContainer {
  display: none;
}

.consolesCheckboxContainer {
  display: none;
}

.SmartWatchesCheckboxContainer {
  display: none;
}
